Repository ROAR-QUTRC/perseus-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @RandomSpaceship, @OMEN44, @UltraFishy, @TheFriendlyGoat, @DingoOz, @GR3Y-SCALE

fix: remove ONNX Runtime package find command and add model loading checks in CubeDetector
  software/ros_ws/.vscode/settings.json
  software/ros_ws/src/perseus_vision/CMakeLists.txt
  software/ros_ws/src/perseus_vision/src/cube_detector.cpp
Owners: @RandomSpaceship, @UltraFishy, @DingoOz, @OMEN44

Moved pdf info to docs
  docs/source/home/keepass.md
  passwords/keepass_access.pdf
Owners: @RandomSpaceship, @UltraFishy, @OMEN44, @TheFriendlyGoat, @DingoOz

Start of rewriting rover control board code
  .vscode/settings.json
  firmware/battery-management-system/dependencies.lock
  firmware/battery-management-system/sdkconfig.debug
Owners: @RandomSpaceship, @GR3Y-SCALE

Start of rewriting rover control board code
  firmware/rover-control-board/platformio.ini
  firmware/rover-control-board/src/main.cpp
Owners: @RandomSpaceship, @GR3Y-SCALE

chore: Format and lint
  .vscode/settings.json
Owners: none

.github/CODEOWNERS:

/.github/ @RandomSpaceship @OMEN44 @UltraFishy
/docs/ @RandomSpaceship @UltraFishy @OMEN44 @TheFriendlyGoat @DingoOz
/firmware/ @RandomSpaceship @GR3Y-SCALE
/hardware/ @RandomSpaceship @GR3Y-SCALE
/packages/ @RandomSpaceship @UltraFishy @DingoOz
*.nix @RandomSpaceship @UltraFishy @DingoOz

/software/ros_ws/ @RandomSpaceship @UltraFishy @DingoOz @OMEN44
/software/web_ui/ @OMEN44 @UltraFishy
/software/shared/ @RandomSpaceship @GR3Y-SCALE @UltraFishy @DingoOz

# no owner for auto-generated packages
/software/ros_ws/nix-packages 

# package owners
/software/ros_ws/src/perseus_sensors/**/m2m2_lidar/ @DingoOz
